{% extends "::base.html.twig" %}

{% block body %}
<div class="page_margins">
    <div id="header">
       {% render 'kaoz4Bundle:Home:widget' with { 'widget':'header'} %}
    </div>
    <div id="main" class="{{ app.request.attributes.get('_route') }}" >
        <div id="col1">
            <div id="col1_content" class="clearfix box">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="col3">
            <div id="col3_content" class="clearfix">
                {% block sidebar %}{% endblock %}
            </div>
            <!-- IE Column Clearing -->
            <div id="ie_clearing"> &#160; </div>
        </div>
    </div>
   {% render 'kaoz4Bundle:Home:widget' with { 'widget':'footer'} %}
   
</div>
</div>
{% endblock %}