{% extends "::base.html.twig" %}

{% block body %}
<div class="page_margins">
    <div id="header">
        <h1>Digital.kaoZ</h1>
        {% include "kaoz4Bundle:Components:mainMenu.html.twig" %}
    </div>
    <div id="main" class="{{ app.request.attributes.get('_route') }}" >
        <div id="col1">
            <div id="col1_content" class="clearfix box">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="col3">
            <div id="col3_content" class="clearfix">
                {% block sidebar %}{% endblock %}
            </div>
            <!-- IE Column Clearing -->
            <div id="ie_clearing"> &#160; </div>
        </div>
    </div>
   {% include "kaoz4Bundle:Components:footer.html.twig" %}
</div>
</div>
{% endblock %}