[submodule "vendor/symfony"]
	path = vendor/symfony
	url = git://github.com/symfony/symfony.git
[submodule "vendor/assetic"]
	path = vendor/assetic
	url = git://github.com/kriswallsmith/assetic.git
[submodule "vendor/doctrine"]
	path = vendor/doctrine
	url = git://github.com/doctrine/doctrine2.git
[submodule "vendor/doctrine-data-fixtures"]
	path = vendor/doctrine-data-fixtures
	url = git://github.com/doctrine/data-fixtures.git
[submodule "vendor/doctrine-dbal"]
	path = vendor/doctrine-dbal
	url = git://github.com/doctrine/dbal.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = git://github.com/doctrine/common.git
[submodule "vendor/doctrine-migrations"]
	path = vendor/doctrine-migrations
	url = git://github.com/doctrine/migrations.git
[submodule "vendor/doctrine-mongodb"]
	path = vendor/doctrine-mongodb
	url = git://github.com/doctrine/mongodb.git
[submodule "vendor/doctrine-mongodb-odm"]
	path = vendor/doctrine-mongodb-odm
	url = git://github.com/doctrine/mongodb-odm.git
[submodule "vendor/swiftmailer"]
	path = vendor/swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = git://github.com/fabpot/Twig.git
[submodule "vendor/zend"]
	path = vendor/zend
	url = git://github.com/zendframework/zf2.git
[submodule "src/Knplabs/MenuBundle"]
	path = src/Knplabs/MenuBundle
	url = https://github.com/knplabs/MenuBundle.git
[submodule "src/rs/ProjectUtilitiesBundle"]
	path = src/rs/ProjectUtilitiesBundle
	url = git@github.com:digitalkaoz/ProjectUtilitiesBundle.git
[submodule "src/Sonata/NewsBundle"]
	path = src/Sonata/NewsBundle
	url = git@github.com:sonata-project/NewsBundle.git
[submodule "src/sonata-project/AdminBundle"]
	path = src/sonata-project/AdminBundle
	url = https://github.com/sonata-project/AdminBundle.git
[submodule "src/Sensio/Bundle/FrameworkExtraBundle"]
	path = src/Sensio/Bundle/FrameworkExtraBundle
	url = git://github.com/sensio/SensioFrameworkExtraBundle.git
[submodule "Bundle/BlogBundle"]
	path = Bundle/BlogBundle
	url = git@github.com:digitalkaoz/BlogBundle.git
