framework:
    charset:       UTF-8
    error_handler: null
    csrf_protection:
        enabled: true
        secret: xxxxxxxxxx
    router:        { resource: "%kernel.root_dir%/config/routing.yml" }
    validation:    { enabled: true, annotations: true }
    templating:    { engines: ['twig'] } #assets_version: SomeVersionScheme
    session:
        default_locale: en
        lifetime:       3600
        auto_start:     true

#bootstrap: ~
#project_utilities: ~

#extra.config: ~
#    router:  { annotations: false }
#    request: { converters: false }
#    view:    { annotations: false, manage_null_arguments: false }
#    cache:   { annotations: false }
    
# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    
## Doctrine Configuration
doctrine:
   dbal:
       connections:
           default:
               dbname:   kaoz4
               user:     kaoz4
               password: DRz6rC8jrzuvR7rE
               logging:  %kernel.debug%
   orm:
       auto_generate_proxy_classes: %kernel.debug%
       entity_managers:
           default:
               mappings:
                    Blog: ~

## Swiftmailer Configuration
#swiftmailer:
#    transport:  smtp
#    encryption: ssl
#    auth_mode:  login
#    host:       smtp.gmail.com
#    username:   xxxxxxxx
#    password:   xxxxxxxx

imports:
    - { resource: "@kaoz4/Resources/config/menu.xml" }

knplabs_menu:
    twig: true
    templating: true
    provider: true