framework:
    charset:       UTF-8
    error_handler: null
    secret: xxxxxxxxxx
    router:        { resource: "%kernel.root_dir%/config/routing.yml" }
    validation:    { enabled: true, annotations: true }
    templating:    { engines: ['twig'] } #assets_version: SomeVersionScheme
    session:
        default_locale: en
        lifetime:       3600
        auto_start:     true

#assetic:
#    debug: %kernel.debug%
#    use_controller: false
#    filters:
#        cssrewrite: ~
        
#bootstrap: ~
#project_utilities: ~

services:    
   kaoz4.admin.post:
      class: rs\kaoz4AdminBundle\Admin\PostAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: Contents, label: Posts }
      arguments: [null, rs\kaoz4Bundle\Entity\Post, kaoz4AdminBundle:PostAdmin]
      pool: AdminPool       

   kaoz4.admin.tag:
      class: rs\kaoz4AdminBundle\Admin\TagAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: Attachments, label: Tags }
      arguments: [null, rs\kaoz4Bundle\Entity\Tag, kaoz4AdminBundle:TagAdmin]
      pool: AdminPool       

   kaoz4.admin.comment:
      class: rs\kaoz4AdminBundle\Admin\CommentAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: Attachments, label: Comments }
      arguments: [null, rs\kaoz4Bundle\Entity\Comment, kaoz4AdminBundle:CommentAdmin]
      pool: AdminPool       

   kaoz4.admin.contribution:
      class: rs\kaoz4AdminBundle\Admin\ContributionAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: Contents, label: Contributions }
      arguments: [null, rs\kaoz4Bundle\Entity\Contribution, kaoz4AdminBundle:ContributionAdmin]
      pool: AdminPool       

   kaoz4.admin.user:
      class: rs\kaoz4AdminBundle\Admin\UserAdmin
      tags:
        - { name: sonata.admin, manager_type: orm, group: Credentials, label: User }
      arguments: [null, rs\kaoz4Bundle\Entity\User, kaoz4AdminBundle:UserAdmin]
      pool: AdminPool
          
fos_user:
    db_driver: orm
    firewall_name: main
    class:
        model:
            user: rs\kaoz4Bundle\Entity\User     
            
# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    
## Doctrine Configuration
doctrine:
   dbal:
       connections:
           default:
                driver:   %database_driver%
                host:     %database_host%
                dbname:   %database_name%
                user:     %database_user%
                password: %database_password%
#                unix_socket: /opt/local/var/run/mysql5/mysqld.sock
   orm:
       auto_generate_proxy_classes: %kernel.debug%
       entity_managers:
           default:
               mappings:
#                    SonataNewsBundle: ~
                    FOSUserBundle: ~
                    kaoz4Bundle: { type: annotation }

sonata_admin:
  templates:
    ajax: SonataAdminBundle::ajax_layout.html.twig

## Swiftmailer Configuration
#swiftmailer:
#    transport:  smtp
#    encryption: ssl
#    auth_mode:  login
#    host:       smtp.gmail.com
#    username:   xxxxxxxx
#    password:   xxxxxxxx

#sonata_news:
#  admin:
#    post:     false #{ entity: rs\kaoz4Bundle\Entity\BlogPost }
#    comment:  false #{ entity: rs\kaoz4Bundle\Entity\Comment }
#    tag:      false #{ entity: rs\kaoz4Bundle\Entity\Tag }

knplabs_menu:
    twig: true
    templating: true
    provider: true
    
imports:
    - { resource: "@kaoz4Bundle/Resources/config/menu.xml" }
#    - { resource: "@SonataNewsBundle/Resources/config/news.xml" }
#    - { resource: "@SonataNewsBundle/Resources/config/admin.xml" }
    - { resource: "parameters.ini" }
    - { resource: "security.yml" }
    