homepage:
    pattern:  /
    defaults: { _controller: kaoz4Bundle:Home:index }

dashboard:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'

blog:
  resource: '@kaoz4Bundle/Resources/config/routing/blog.xml'
  prefix:   /blog

admin:
  resource: '@kaoz4Bundle/Resources/config/routing/admin.yml'
  prefix:   /admin

fos_user_security:
    resource: '@FOSUserBundle/Resources/config/routing/security.xml'

fos_user_user:
    resource: '@FOSUserBundle/Resources/config/routing/user.xml'
    prefix: /user