homepage:
    pattern:  /
    defaults: { _controller: kaoz4Bundle:Home:index }
    
about:
    pattern:  /about
    defaults: { _controller: kaoz4Bundle:Home:about }

dashboard:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'

blog:
  resource: '@kaoz4Bundle/Resources/config/routing/blog.yml'
  prefix:   /blog

contribution:
  resource: '@kaoz4Bundle/Resources/config/routing/contribution.yml'
  prefix:   /projects

admin:
  resource: '@kaoz4AdminBundle/Resources/config/routing/admin.yml'
  prefix:   /admin

fos_user_security:
    resource: '@FOSUserBundle/Resources/config/routing/security.xml'

fos_user_user:
    resource: '@FOSUserBundle/Resources/config/routing/user.xml'
    prefix: /user
    
_internal:
    resource: "@FrameworkBundle/Resources/config/routing/internal.xml"
    prefix:   /_internal    