{% extends "kaoz4Bundle::layout.html.twig" %}

{% block content %}
    <h2>{% trans %}Blog{% endtrans %}</h2>

    {% for post in pager.getResults() %}
        <div>
            <h2><a href="{{ url('blog_view', {'slug': post.slug}) }}">{{ post.title }}</a></h2>
            <div>
                {{ post.abstract }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% render 'kaoz4Bundle:Blog:sidebar' %}    
{% endblock %}
    
        