{% extends "kaoz4Bundle::layout.html.twig" %}

{% block content %}
    <h1>{% trans %}Blog{% endtrans %}</h1>

    {% for post in pager.getResults() %}
        <div>
            <h2><a href="{{ url('blog_view', { 'year': post.year, 'month': post.month, 'day': post.day, 'slug': post.slug}) }}">{{ post.title }}</a></h2>
            <div>
                {{ post.abstract }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% render 'kaoz4Bundle:Blog:sidebar' %}    
{% endblock %}
    
        