<div class="box">
    {{ menu('blog') }}
</div>

<div class="box">
    {% render 'kaoz4Bundle:Home:widget' with { 'widget':'socials'} %}
</div>

{% if post %}
    <div class="box">
        {% render 'kaoz4Bundle:Blog:tags' with { 'id': post.id }, {'standalone': true} %}
    </div>
{% else %}
    <div class="box">
        {% render 'kaoz4Bundle:Blog:tags' with { 'class': 'post' }, {'standalone': true} %}
    </div>
{% endif %}

