{% extends "kaoz4Bundle::layout.html.twig" %}

{% block content %}
    <h1>{{ post.title }}</h1>

    <div>
    </div>

    <div>
        {{ post.content }}
    </div>    

    {% render 'kaoz4Bundle:Blog:comments' with { 'id': post.id }, {'standalone': true} %}

<!--    {% if post.commentsEnabled %}
        {% render 'kaoz4Bundle:Blog:addCommentForm' with {
            'post_id': post.id,
            'form': form
        }, {'standalone': true} %}
    {% else %}
        <div>
            {% trans %}message_comments_are_closed{% endtrans %}
        </div>
    {% endif %}-->
    

{% endblock %}

{% block sidebar %}
    {% render 'kaoz4Bundle:Blog:sidebar' with {'id': post.id}, {'standalone': true} %}    
{% endblock %}
