/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
 * (en) central stylesheet
 * (de) zentrales Stylesheet
 *
 * @creator       YAML Builder V1.2.1 (http://builder.yaml.de)
 * @file          my_layout.css
 * @-yaml-minver  3.3
 * 
 */

/* import core styles | Basis-Stylesheets einbinden */
@import url(yaml/core/base.css);

@import url(yaml/navigation/nav_shinybuttons.css);

@media screen, projection
{
  body { overflow-y: scroll; }

  /*-------------------------------------------------------------------------*/

  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  body { background: #4d87c7 url("images/bg_blue.gif") repeat-x top left fixed; padding: 10px 0; }

  /* Layout Alignment | Layout-Ausrichtung */
  .page_margins { margin: 0 auto; }

  /* Layout Properties | Layout-Eigenschaften */
  .page_margins { width: auto;  min-width: 740px; max-width: 90em; background: #fff; }
  .page { padding: 10px; }
  #header { position:relative; padding: 45px 2em 1em 20px; color: #000; background: #fff; }
  #topnav { position:absolute; top:10px; right:10px; text-align:right; color: #aaa; background: transparent; }
  #nav { overflow:hidden; }
  #main { margin: 10px 0; background: #fff; }
  #footer { padding: 10px 20px; color:#666; background: #f9f9f9; border-top: 5px #efefef solid; }

  /* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung  */
  #nav ul { margin-left: 20px; }
  #nav .hlist{background:#eee;}

  /*-------------------------------------------------------------------------*/

  /**
   * (en) Formatting content container
   * (de) Formatierung der Inhalts-Container
   *
   */

  #col1 { float: left; width:75%;  margin:0 }
  #col2 { float: right; width: 25%;  margin:0 }
  #col3 { width: auto; margin: 0 25% 0 75%}
  #col1_content { padding: 0 10px 0 20px }
  #col2_content { padding: 0 20px 0 10px }
  #col3_content { padding: 0 10px }
	
  /*-------------------------------------------------------------------------*/
}

/* import print layout | Druck-Layout einbinden */
@import url(yaml/print/print_draft.css);