{% extends "kaoz4Bundle::layout.html.twig" %}

{% block content %}
    <h2>{% trans %}Projects{% endtrans %}</h2>

    {% for contribution in pager.getResults() %}
        <div>
            <h2><a href="{{ url('contribution_view', { 'slug': contribution.slug}) }}">{{ contribution.title }}</a></h2>
            <div>
                {{ contribution.abstract }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% render 'kaoz4Bundle:Contribution:sidebar' with{}, {'standalone': true} %}    
{% endblock %}
