{% extends "kaoz4Bundle::layout.html.twig" %}

{% block content %}
    <h1>{{ contribution.title }}</h1>

    <div>
    </div>

    <div>
        {{ contribution.content }}
    </div>

{% endblock %}

{% block sidebar %}
    {% render 'kaoz4Bundle:Contribution:sidebar' with {'slug':contribution.slug}, {'standalone': true} %}    
    <div class="box">
        {% render 'kaoz4Bundle:Blog:tags' with { 'id': contribution.id }, {'standalone': true} %}
    </div>
{% endblock %}
