{% extends "kaoz4Bundle::layout.html.twig" %}

{% block content %}
    <h1>{{ contribution.title }}</h1>

    <div>
    </div>

    <div>
        {{ contribution.content }}
    </div>


    {% render 'kaoz4Bundle:Contribution:comments' with { 'id': contribution.id } %}

<!--    {% if contribution.commentsEnabled %}
        {% render 'kaoz4Bundle:Contribution:addCommentForm' with {
            'post_id': post.id,
            'form': form
        } %}
    {% else %}
        <div>
            {% trans %}message_comments_are_closed{% endtrans %}
        </div>
    {% endif %}-->
{% endblock %}

{% block sidebar %}
    {% render 'kaoz4Bundle:Contribution:sidebar' with {'slug':contribution.slug} %}    
{% endblock %}
